version: "3"
services:
  webservice-db:
    image: liborrow-webservice-db
    container_name: postgres
    deploy:
      replicas: 1
    hostname: postgres
    ports:
      - "5432:5432"
    networks:
      - webnet
      
  webservice-web:
    image: liborrow-webservice-web
    container_name: webservice
    deploy:
      replicas: 1
    hostname: webservice
    ports:
      - "8080:8080"
    networks:
      - webnet

networks:
  webnet: